/* main css for portfolio site */

* {
	/* includes padding and border within element sizing */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	color: #2d3c49;
}

.container {
	/* A trick to centralize a box content */
	margin: 0 auto;
	width: 95%;
	max-width: : 1200px;
}

.row {
	width: 100%;
	display: flex;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.title-super {
	font-size: 2.4em;
}

.title-logo {
	margin-top: 20px;
}
.text-thin {
	font-weight: 100;
}

.text-muted {
	color: #7d97ad;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.featured-work>p {
	text-align: center;
	font-size: .8em;
}

.aside-colors {
	position: relative;
	right: 200px;
}

a {
	color: #7d97ad;
}

hr {
    border: none;
    margin: 10px 0 20px 0;
    height: 1px;
    color: #7d97ad;
    background-color: #7d97ad;
}

img, embed, object, video {
	max-width: 100%;
	height: auto;
}

/* Tap devices need extra space and larger buttons */
nav a, button {
	margin: 40px;
	width: 48px;
	height: 48px;
}
